<html>
<!DOCTYPE html>
<title>Fixed Generation</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/style.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Allerta Stencil'>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>  
<script src="/static/dropzone-5.7.0/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  body {font-family: "Times New Roman", Georgia, Serif;}
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
  }
  </style>

<head>
    <title>File Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
</head>
<body>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">CREATIVE AI</label>
    <ul>
      <li><a class="active" href="/index">Home</a></li>
      <li><a href="/silhouette">Silhouette</a></li>
      <li><a href="/character">Character</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>

  <div class="main-content-columns90" style="max-width:1100px">
    <div class="row row-padding" id="silhouette">
      <div class="column90 side90">
        <h1>Character Tools</h1>
        <p class="column90-text">With this tool you will be able to upload a draft (black and white or colored) and our model will convert it 
          to obtain a colored version or with a different style, you are also free of uploading as many images as you like and use the style mixing 
          feature to combine different styles.

          We will be constantly adding new features to try.
        </p>
        
        <div class="row row-padding">
          
          <form action="/generate_projection_cbw" method="POST">
            <div class="column50">
              <label class="container">Generate random B/W silhouette
                <input type="checkbox" value='1' name='checkbox_type' >
                <span class="checkmark"></span>
              </label>
              <label class="container">Generate random colored character
                <input type="checkbox" value='2' name='checkbox_type' checked="checked">
                <span class="checkmark"></span>
              </label>
            </div>
  
            <div class="column50">
              <div class="row">
                <form action="/generate_projection_cbw" method="POST" >
                  <div class="column90-button">
                    <button class="btn btn-white" value="generate_projection">GENERATE</button>
                  </div>  
                </form>
                <div class="column90-button" style="margin-left: 50%;">
                  <form method="POST" action='/'>
                    <input type="hidden" name="name" value="value" /> 
                      <a href="/generate_projection" class="btn btn-white">clear output</a>
                  </form>
                </div> 
              </div>
            </div>
          </form>

        </div>
        <div class="row ">
        
          <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>-->
          <form id="my-dropzone" action="{{ url_for('upload_files') }}" class="dropzone"></form>

          <button id="clear-dropzone">Clear Dropzone</button>

          <script type="module">

            // myDropzone is the configuration for the element that has an id attribute
            // with the value my-dropzone or myDropzone
            Dropzone.options.myDropzone = {
              init: function() {
                this.on;

                // Using a closure.
                var _this = this;

                // Setup the observer for the button.
                document.querySelector("button#clear-dropzone").addEventObserver("click", function() {
                  // Using "_this" here, because "this" doesn't point to the dropzone anymore
                  _this.removeAllFiles();
                  // If you want to cancel uploads as well, you
                  // could also call _this.removeAllFiles(true);
                });
              }
            };

          </script>
        </div>
        
      </div>  
    
    <div class="column90 side10">
      <img src="/static/images/process2.jpg"  alt="Table Setting" >
    </div>
  </div>

    <!-- About Section -->
    
  </div>
    <h1>File Upload</h1>
  
    
    <form action = '/generate_projection' method="POST"> 
      <button style="top: 160px; right: 600px;" value="generate_projection">Generate Silhouette</button>
    </form>
    <div class="show-images">
      {% for name in names_colored %}
        <img src="{{ url_for('static', filename = '/projections/colored/' + name ) }}" width="256" height="256" >
      {% endfor %}\
      {% for name in names_silhouette %}
        <img src="{{ url_for('static', filename = '/projections/silhouette/' + name ) }}" width="256" height="256" >
      {% endfor %}
  </div>
    </body>
  </body>
</html>